<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% # Any codes written here shows in all the pages %>
  <% # Receives codes from Views folder/layouts/_navigation.html.erb %> 
  <%= render 'layouts/navigation' %>
  <% # Receives codes from Views folder/layouts/_messages.html.erb %> 
  <%= render 'layouts/messages' %>
  <% # Spacing jumbotron %>
  <div class="container">
  <%= yield %>
  </div>
  <% # Receives codes from Views folder/layouts/_footer.html.erb %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
